/* GENERAL RULES */
:root {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <main> rules */
main {
  padding: 20px;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #f3e7e9, #e3eeff);
  min-height: calc(100vh - 120px);
}

/* a rules */
a {
  text-decoration: none;
  color: black;
}

/* HEADER */
header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #d4edda, #f8f9fa);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000;
}

header img {
  height: 80px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.15));
}

/* HEADER RESPONSIVE */
@media (max-width: 768px) {
  main {
    min-height: calc(100vh - 100px);
  }

  header {
    height: 100px;
  }

  header img {
    height: 60px;
  }
}

@media (max-width: 480px) {
  main {
    min-height: calc(100vh - 80px);
  }

  header {
    height: 80px;
  }

  header img {
    height: 50px;
  }
}

/* PAGES RULES */
/* HomePage.jsx */
.trips-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trips-container h1 {
  text-align: center;
  color: #3D9970;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* TripCard.jsx */
.trip-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgb(137, 137, 137, 0.2);
  border-radius: 8px;
  margin-top: 15px;
  padding: 5px;
}

.trip-card p {
  font-weight: 600;
}

.trip-button {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #171f38;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}